@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    color: black;
}

body {
    height: 100vh;
    display: flex;
    justify-content: column;
}

.vecsvg {
    position: absolute;
    right: 0;
    height: 100%;
    user-select: none;
    z-index: -1;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    flex-direction: column;
    height: 100%;
    user-select: none;
}

h1 {
    font-weight: bold;
    font-size: 72px;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
}

.contact {
    color: white;
    border-radius: 12px;
    outline: none;
    border: none;
    padding: 8px 40px;
    font-size: 30px;
    margin-top: 20px;
    background: linear-gradient(288.88deg, #fd7419 25.48%, #E80505 77.99%);
    font-weight: bold;
    font-style: italic;
}

.contact:hover {
    cursor: pointer;
}

.sidebar {
    color: white;
    background-color: rgb(34, 34, 34);
    height: 100%;
    width: 100px;
    z-index: 100;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

.sidebar img {
    width: 50px;
    margin-top: 50px;
    margin-bottom: 5px;
}

#discordcontact {
    width: 350px;
    font-weight: bold;
    margin-top: 30px;
    background: linear-gradient(288.88deg, #fd7419 25.48%, #E80505 77.99%);
    color: white;
    padding: 5px 0;
    text-align: center;
    border-radius: 12px;
    display: block;
    position: relative;
    margin: 20px auto;
    transition: 1s all;
    opacity: 0;
    user-select: none;
}

#discordcontact:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: -5px;
    background: #ff3333;
    z-index: -1;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
}